# Práctica Calificada 02
## Predicción de tarifas de taxis

In [3]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/MyDrive/iA/Data_PC2/
%ls

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive/MyDrive/iA/Data_PC2
data                     data2.csv_chunk_3..hdf5  data2.csv.yaml
data2.csv                data2.csv_chunk_4..hdf5  data_final.hdf5
data2.csv_chunk_0..hdf5  data2.csv_chunk_5..hdf5  train.csv
data2.csv_chunk_1..hdf5  data2.csv_chunk_6..hdf5  train.csv.hdf5
data2.csv_chunk_2..hdf5  data2.csv.hdf5

In [4]:
import pandas as pd
import numpy as np

### Importar data total

In [ ]:
dtypes = {
      'key': 'object',
      'fare_amount': 'float64',
      'pickup_datetime': 'object',
      'pickup_longitude': 'float64', 
      'pickup_latitude': 'float64',
      'dropoff_longitude': 'float64',
      'dropoff_latitude': 'float64',
      'passenger_count': 'int64',
      
    
}
df = pd.read_csv("train.csv", dtype=dtypes)
df = df[['key', 'pickup_datetime', 'pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude', 'passenger_count', 'fare_amount']]
df.head()

                             key  ... fare_amount
0    2009-06-15 17:26:21.0000001  ...         4.5
1    2010-01-05 16:52:16.0000002  ...        16.9
2   2011-08-18 00:35:00.00000049  ...         5.7
3    2012-04-21 04:30:42.0000001  ...         7.7
4  2010-03-09 07:51:00.000000135  ...         5.3

[5 rows x 8 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55423856 entries, 0 to 55423855
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   key                object
 1   pickup_datetime    object
 2   pickup_latitude    float64
 3   pickup_longitude   float64
 4   dropoff_latitude   float64
 5   dropoff_longitude  float64
 6   passenger_count    int64
 7   fare_amount        float64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.3+ GB

### Primera revisión de la data completa

#### Valores duplicados

In [ ]:
%time
duplicateRowsDF = df.loc[df.duplicated(['key'], keep=False), :]
duplicateRowsDF

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 7.15 µs

                                   key  ... fare_amount
3583097   2014-12-12 11:33:00.00000015  ...        10.0
55423855  2014-12-12 11:33:00.00000015  ...         7.5

[2 rows x 8 columns]

In [ ]:
df['key'][55423855] =  '2014-12-12 11:33:00.00000016'

In [ ]:
# duplicateRowsDF = df.loc[df.duplicated(['key'], keep=False), :]
# duplicateRowsDF.shape[0]

#### Valores NaN

In [ ]:
valores_nan = df.isna().sum()
valores_nan

key                    0
pickup_datetime        0
pickup_latitude        0
pickup_longitude       0
dropoff_latitude     376
dropoff_longitude    376
passenger_count        0
fare_amount            0
dtype: int64

In [ ]:
df = df.dropna()

#### Coordenadas

Se analizará la data con el objetivo de eliminar las filas con coordenadas ubicadas en el océano.

In [ ]:
!pip install global-land-mask

Requirement already satisfied: global-land-mask in /usr/local/lib/python3.7/dist-packages (1.0.0)

In [ ]:
from global_land_mask import globe as gl

In [ ]:
df.shape

(55423480, 8)

In [ ]:
df = df[((df['pickup_latitude'].values > -90) & (df['pickup_latitude'].values < 90))]
# df = df[
df = df[(df['dropoff_latitude'].values > -90) & (df['dropoff_latitude'].values < 90) ]
# df = df[df['dropoff_latitude'].values < 90]

df = df[(df['pickup_longitude'].values > -180) & (df['pickup_longitude'].values < 180)]
# df = df[df['pickup_longitude'].values < 180]
df = df[(df['dropoff_longitude'].values > -180) & (df['dropoff_longitude'].values < 180)]
# df = df[df['dropoff_longitude'].values < 180]

In [ ]:
pla = df[['pickup_latitude']].to_numpy()
plon = df[['pickup_longitude']].to_numpy()
dla = df[['dropoff_latitude']].to_numpy()
dlon = df[['dropoff_longitude']].to_numpy()

#gl.is_ocean(pla,plon)
#df.loc[gl.is_ocean(pla,plon), :]

df = df.drop(df.loc[gl.is_ocean(pla,plon)].index)

In [ ]:
df.describe()

       pickup_latitude  pickup_longitude  ...  passenger_count   fare_amount
count     5.423871e+07      5.423871e+07  ...     5.423871e+07  5.423871e+07
mean      4.069361e+01     -7.390809e+01  ...     1.685476e+00  1.132912e+01
std       2.554395e+00      2.694716e+00  ...     1.316897e+00  2.084932e+01
min      -7.783387e+01     -1.234080e+02  ...     0.000000e+00 -3.000000e+02
25%       4.073663e+01     -7.399222e+01  ...     1.000000e+00  6.000000e+00
50%       4.075343e+01     -7.398206e+01  ...     1.000000e+00  8.500000e+00
75%       4.076759e+01     -7.396823e+01  ...     2.000000e+00  1.250000e+01
max       8.154545e+01      1.550187e+02  ...     2.080000e+02  9.396336e+04

[8 rows x 6 columns]

In [ ]:
# dfs[['pickup_latitude', 'pickup_longitude']] = dfs.apply(lambda x: ocean_values_to_nan(x['pickup_latitude'],x['pickup_longitude']), axis=1 )
# dfs[['dropoff_latitude', 'dropoff_longitude']] = dfs.apply(lambda x: ocean_values_to_nan(x['dropoff_latitude'],x['dropoff_longitude']) , axis=1)

In [ ]:
df.shape

(54238709, 8)

In [ ]:
#df.to_csv('trainsampleprep.csv')

In [ ]:
df.head(-15)

                                    key  ... fare_amount
0           2009-06-15 17:26:21.0000001  ...         4.5
1           2010-01-05 16:52:16.0000002  ...        16.9
2          2011-08-18 00:35:00.00000049  ...         5.7
3           2012-04-21 04:30:42.0000001  ...         7.7
4         2010-03-09 07:51:00.000000135  ...         5.3
...                                 ...  ...         ...
55423836    2009-02-03 00:28:08.0000001  ...        10.2
55423837    2010-08-10 11:19:42.0000003  ...        10.5
55423838   2011-02-09 10:07:00.00000081  ...        13.3
55423839    2012-03-15 07:33:35.0000006  ...         8.1
55423840   2013-06-21 17:30:00.00000024  ...         8.0

[54238694 rows x 8 columns]

#### Rango de valores

Ahora verificamos que los datos cumplan las restricciones de rango correspondientes.

In [ ]:
df.describe()

       pickup_latitude  pickup_longitude  ...  passenger_count   fare_amount
count     5.423871e+07      5.423871e+07  ...     5.423871e+07  5.423871e+07
mean      4.069361e+01     -7.390809e+01  ...     1.685476e+00  1.132912e+01
std       2.554395e+00      2.694716e+00  ...     1.316897e+00  2.084932e+01
min      -7.783387e+01     -1.234080e+02  ...     0.000000e+00 -3.000000e+02
25%       4.073663e+01     -7.399222e+01  ...     1.000000e+00  6.000000e+00
50%       4.075343e+01     -7.398206e+01  ...     1.000000e+00  8.500000e+00
75%       4.076759e+01     -7.396823e+01  ...     2.000000e+00  1.250000e+01
max       8.154545e+01      1.550187e+02  ...     2.080000e+02  9.396336e+04

[8 rows x 6 columns]

Observamos que el mínimo valor de la columna de tarifa (fare_amount) es -30. Necesitamos que los valores de la tarifa sean valores mayores o iguales a 0.

In [ ]:
df[df['fare_amount'] <= 0].count() /df.count()

key                  0.000065
pickup_datetime      0.000065
pickup_latitude      0.000065
pickup_longitude     0.000065
dropoff_latitude     0.000065
dropoff_longitude    0.000065
passenger_count      0.000065
fare_amount          0.000065
dtype: float64

In [ ]:
df = df[df['fare_amount'] >= 2.5]

También notamos valores atípicos en la cantidad de pasajeros, por ejemplo un viaje con 208 pasajeros. De acuerdo a las leyes de tránsito de Nueva York como máximo pueden haber 6 personas. Por lo tanto, las filas con cantidades de pasajeros mayores a 6 serán eliminadas.

In [ ]:
( (df[df['passenger_count'] > 6].count() + df[df['passenger_count'] < 1.0].count()) / df.count() )* 100

key                  0.352673
pickup_datetime      0.352673
pickup_latitude      0.352673
pickup_longitude     0.352673
dropoff_latitude     0.352673
dropoff_longitude    0.352673
passenger_count      0.352673
fare_amount          0.352673
dtype: float64

In [ ]:
df = df[df['passenger_count'] <= 6]

In [ ]:
df = df[df['passenger_count'] >= 1.0]

In [ ]:
df.describe()

       pickup_latitude  pickup_longitude  ...  passenger_count   fare_amount
count     5.404390e+07      5.404390e+07  ...     5.404390e+07  5.404390e+07
mean      4.069340e+01     -7.390785e+01  ...     1.691326e+00  1.133860e+01
std       2.558944e+00      2.699489e+00  ...     1.307340e+00  2.088209e+01
min      -7.783387e+01     -1.234080e+02  ...     1.000000e+00  1.000000e-02
25%       4.073663e+01     -7.399222e+01  ...     1.000000e+00  6.000000e+00
50%       4.075343e+01     -7.398207e+01  ...     1.000000e+00  8.500000e+00
75%       4.076759e+01     -7.396823e+01  ...     2.000000e+00  1.250000e+01
max       8.154545e+01      1.550187e+02  ...     6.000000e+00  9.396336e+04

[8 rows x 6 columns]

In [ ]:
df.to_csv('data2.csv', index = False, header=True)

In [ ]:
%ls

data  data2.csv  data2.csv.hdf5  data2.csv.yaml  train.csv  train.csv.hdf5

Dividimos la columna 'pickup_datetime' en 2 nuevas columnas que representarán el día y el momento del día (mañana, tarde o noche) en que se produjo la parada del taxi

In [ ]:
df['day']=df['pickup_datetime'].apply(lambda x: pd.Timestamp(x).day_name())
df.head()

Convertimos la variable categórica 'dia' a una variable indicadora

In [ ]:
df['day'] = pd.factorize(df.day)[0]
#df = pd.get_dummies(df, columns=['day'])
df.head()

Obtenemos la hora de la misma manera de 'pickup_datetime'

In [ ]:
df['hour']=df['pickup_datetime'].apply(lambda x: pd.Timestamp(x).hour)
df.head()

Pasamos la columna hora (números) a categorías (mañana, tarde y noche)

In [ ]:
df['hour']=df['hour'].apply(lambda x: 'manana' if x > 5 and x < 12 else 'Tarde' if x >=12 and x < 18 else 'noche')
df.head()

Convertimos la columna hora de variables categóricas a indicadoras

In [ ]:
df['hour'] = pd.factorize(df.hour)[0]
df.head()

In [ ]:
df.info()

In [ ]:
%ls ./

In [ ]:
# import pyarrow.feather as feather
# feather.write_feather(df, './data')

In [ ]:
read_df = feather.read_feather('./data')

In [ ]:
read_df.head()

In [ ]:
s

#### Distancia entre el punto de partida y llegada

In [ ]:
# import requests
# import json
# import pprint as pp

# API_KEY = "AIzaSyAb7K3biO42NZXFp0qWlEi7tOvSB3crvlE"
# url1 = "https://maps.googleapis.com/maps/api/distancematrix/json?origins="
# origin = "40.726766,-73.999809"
# url2 = "&destinations="
# destination = "40.749732,-73.979344"
# url3 = "&key="

# url_full = url1+origin+url2+destination+url3+API_KEY
# print(url_full)

# output = requests.get(url_full).json()

# # pickup_latitude	pickup_longitude	dropoff_latitude	dropoff_longitude
# # pp.pprint(output)
# for obj in output['rows']:
#   for element in obj['elements']:
#     print("Distancia: ", element['distance']['text'])
#     print("\nDuracion: ", element['duration']['text'])

In [ ]:
# from bs4 import BeautifulSoup
# import time
# import pprint as pp
# import re
# import requests
# import pyarrow.feather as feather

# def scraper_map(url_full):
#     url = requests.get(url_full)
    
#     soup = BeautifulSoup(url.text, 'html5lib')
#     pp.pprint(soup)
#     aux1 = re.findall(r'(([0-9]+.?[0-9]*) mile)', soup.text)
#     aux2 = re.findall(r'(([0-9]+.?[0-9]*) min)', soup.text)
    
#     print("tamaño antes: \n aux1: {} \n aux2: {} ".format(aux1, aux2))

#     if not aux1:
#       aux1 = ('0.0 mile', '0.0') 
#     if not aux2:
#       aux2 = ('0.0 min', '0.0')

#     # print("tamañi: \n aux1: {} \n aux2: {} ".format(aux1, aux2))
#     print("tamaño despues: \n aux1: {} \n aux2: {} ".format(aux1, aux2))
#     return aux1[0][1], aux2[0][1]

		
# df[['pickup_latitude','pickup_longitude']].loc[52]

# # origen = "40.726766,-73.999809"
# # destino = "40.749732,-73.979344"


# for i in range(2):

#   print("i: {}\n".format(i))
#   url_base = "https://www.google.com/maps/dir/'"
#   origen = str(df['pickup_latitude'].iloc[i]) + ',' + str(df['pickup_longitude'].iloc[i])
#   destino = str(df['dropoff_latitude'].iloc[i]) + ',' + str(df['dropoff_longitude'].iloc[i])

#   # print("origen : {} \n destino : {} \n".format(origen, destino))

#   url_full = url_base+origen+'\'/'+destino+'/'
  
#   print("url: {}\n".format(url_full))
#   df['distance'].iloc[i], df['time'].iloc[i] = scraper_map(url_full)



# # i = 96
# # print("i: {}\n".format(i))
# # url_base = "https://www.google.com/maps/dir/'"
# # origen = str(df['pickup_latitude'].iloc[i]) + ',' + str(df['pickup_longitude'].iloc[i])
# # destino = str(df['dropoff_latitude'].iloc[i]) + ',' + str(df['dropoff_longitude'].iloc[i])

# # # print("origen : {} \n destino : {} \n".format(origen, destino))

# # url_full = url_base+origen+'\'/'+destino+'/'

# # df['distance'].iloc[i], df['time'].iloc[i] = scraper_map(url_full)

#### Normalización

In [ ]:
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# dfn = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
# dfn.head()

In [ ]:
# dff = pd.DataFrame(af, columns = ['key','fare_amount','pickup_datetime','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count'])
# dff.head()

## Con Vaex

In [ ]:
# !pip install ipython==7.24.1

In [ ]:
# !pip install vaex

In [5]:
import xgboost
import vaex
import vaex.ml.sklearn
import pylab as plt

In [6]:
df_original = vaex.from_csv('data2.csv', convert=True, chunk_size=5000000)

In [7]:
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9

In [8]:
df_original.info()

### Separacion de pickup_datetime en hora, day, semanas

Convertimos la variable categórica 'dia' a una variable indicadora

In [9]:
df_original['day']=df_original['pickup_datetime'].apply(lambda x: pd.Timestamp(x).dayofweek)
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2

Obtenemos la hora de la misma manera de 'pickup_datetime'

In [10]:
df_original['hour']=df_original['pickup_datetime'].apply(lambda x: pd.Timestamp(x).hour)
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0      17
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1      16
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3       0
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5       4
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1       7
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3       9
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1      20
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2      17
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0      13
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2       1

Pasamos la columna hora (números) a indicadora (mañana = 0, tarde =1y noche =2)

In [11]:
df_original['hour']=df_original['hour'].apply(lambda x: 0 if x > 5 and x < 12 else 1 if x >=12 and x < 18 else 2)
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0       1
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1       1
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3       2
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5       2
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1       0
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3       0
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1       2
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2       1
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0       1
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2       2

Añadimos el numero de la semana

In [12]:
df_original['week']=df_original['pickup_datetime'].apply(lambda x: pd.Timestamp(x).week)
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour    week
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0       1      25
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1       1       1
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3       2      33
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5       2      16
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1       0      10
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3       0       1
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1       2      47
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2       1       1
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0       1      49
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2       2      36

Trayecto Nocturno

In [13]:
df_original['trayecto_nocturno']=df_original['pickup_datetime'].apply(lambda x: pd.Timestamp(x).hour)

In [14]:
df_original['trayecto_nocturno']=df_original['trayecto_nocturno'].apply(lambda x: 0 if x > 6 and x < 20 else 1)
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour    week    trayecto_nocturno
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0       1      25                    0
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1       1       1                    0
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3       2      33                    1
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5       2      16                    1
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1       0      10                    0
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3       0       1                    0
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1       2      47                    1
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2       1       1                    0
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0       1      49                    0
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2       2      36                    1

Hora punta

In [15]:
df_original['hora_punta']=df_original['pickup_datetime'].apply(lambda x: pd.Timestamp(x).hour)
df_original['hora_punta']=df_original['hora_punta'].apply(lambda x: 1 if x >=19 and x <= 20 else 0)
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour    week    trayecto_nocturno    hora_punta
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0       1      25                    0             0
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1       1       1                    0             0
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3       2      33                    1             0
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5       2      16                    1             0
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1       0      10                    0             0
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3       0       1                    0             0
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1       2      47                    1             1
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2       1       1                    0             0
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0       1      49                    0             0
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2       2      36                    1             0

Año

In [16]:
df_original['year']=df_original['pickup_datetime'].apply(lambda x: pd.Timestamp(x).year)
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour    week    trayecto_nocturno    hora_punta    year
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0       1      25                    0             0    2009
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1       1       1                    0             0    2010
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3       2      33                    1             0    2011
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5       2      16                    1             0    2012
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1       0      10                    0             0    2010
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3       0       1                    0             0    2011
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1       2      47                    1             1    2012
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2       1       1                    0             0    2012
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0       1      49                    0             0    2012
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2       2      36                    1             0    2009

### Distancia entre el punto de partida y llegada

In [17]:
def area_aeropuerto(drop_latitud, drop_longitud, pickup_latitud, pickup_longitud):
  value = 0

  latJFK , longJFK = (40.64607900467552, -73.78682189872009)
  rLatJFK , rLongJFK = (0.00020442868149724404, 7.06525997713248e-05)

  latLaGuardia , longLaGuardia = (40.77721540400873, -73.87389625196624 )
  rLaLaGuardia , rLongLaGuardia = (7.901000033306362e-05, 5.571223534203251e-08)

  latNewark, longNewark = (40.69124374918179, -74.1782152271882)
  rLatNewark, rLongNewark = (4.851167653135607e-05, 0.00017069473805533363)

  dLatKFK , dLongJFK = ((40.64607900467552 - drop_latitud )**2, (-73.78682189872009 - drop_longitud)**2)
  dLatLaGuardia, dLongLaGuardia = ((40.77721540400873 - drop_latitud )**2, (-73.87389625196624 - drop_longitud)**2)
  dLatNewark, dLongNewark = ((40.69124374918179 - drop_latitud )**2, (-74.1782152271882 - drop_longitud)**2)

  pLatKFK , pLongJFK = ((40.64607900467552 - pickup_latitud )**2, (-73.78682189872009 - pickup_longitud)**2)
  pLatLaGuardia, pLongLaGuardia = ((40.77721540400873 - pickup_latitud )**2, (-73.87389625196624 - pickup_longitud)**2)
  pLatNewark, pLongNewark = ((40.69124374918179 - pickup_latitud )**2, (-74.1782152271882 - pickup_longitud)**2)

  if (dLatKFK <= rLatJFK  and dLongJFK <= rLongJFK) or (pLatKFK <= rLatJFK and pLongJFK <= rLongJFK):
    value = 1
  if (dLatLaGuardia <= rLaLaGuardia  and dLongLaGuardia <= rLongLaGuardia) or (pLatLaGuardia <= rLaLaGuardia  and pLongLaGuardia <= rLongLaGuardia):
    value = 1
  if (dLatNewark <= rLatNewark  and dLongNewark <= rLongNewark) or (pLatNewark <= rLatNewark  and pLongNewark <= rLongNewark):
    value = 1
  return value

In [18]:
df_original['aeropuerto'] = df_original.apply(area_aeropuerto, [df_original.dropoff_latitude, df_original.dropoff_longitude, df_original.pickup_latitude, df_original.pickup_longitude])

In [19]:
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour    week    trayecto_nocturno    hora_punta    year    aeropuerto
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0       1      25                    0             0    2009             0
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1       1       1                    0             0    2010             0
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3       2      33                    1             0    2011             0
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5       2      16                    1             0    2012             0
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1       0      10                    0             0    2010             0
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3       0       1                    0             0    2011             0
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1       2      47                    1             1    2012             0
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2       1       1                    0             0    2012             0
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0       1      49                    0             0    2012             0
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2       2      36                    1             0    2009             0

In [20]:
df_original.aeropuerto.value_counts(progress=True)

[########################################] 100.00% elapsed time  :    15.40s =  0.3m =  0.0h

0    53030048
1     1013850
dtype: int64

In [21]:
features = [
            'pickup_latitude',
            'pickup_longitude',
            'dropoff_latitude',
            'dropoff_longitude',
            'passenger_count',
            'day',
            'hour',
            'week',
            'trayecto_nocturno',
            'hora_punta',
            'aeropuerto',
]

In [ ]:
df_original[features].describe()

Observamos valores atipicos de longitud y latitud

In [22]:
df_original.pickup_latitude.value_counts(progress=True)

[########################################] 100.00% elapsed time  :     0.20s =  0.0m =  0.0h

 41.366138    18611
 40.774100     4079
 40.774057     3923
 40.774082     3500
 40.774092     3474
              ...
 40.897075        1
 40.648131        1
 40.648131        1
 40.897073        1
-77.833874        1
Length: 337004, dtype: int64

In [23]:
df_original.pickup_longitude.value_counts(progress=True)

[########################################] 100.00% elapsed time  :     0.16s =  0.0m =  0.0h

-73.137393     18611
-73.982297      4268
-73.982037      4192
-73.982400      4117
-73.982300      4014
               ...
-73.822362         1
-73.822350         1
-73.822349         1
-73.822347         1
-123.408006        1
Length: 335416, dtype: int64

Eliminamos las latitudes menores a 30 y mayores a 50

In [24]:
df_original.dropoff_latitude.value_counts(progress=True)

[########################################] 100.00% elapsed time  :     0.20s =  0.0m =  0.0h

 0.000000     44910
 41.366138    14666
 40.761200     2988
 40.759200     2832
 40.750000     2769
              ...
 40.868183        1
 40.868195        1
 40.868206        1
 40.868206        1
-74.354612        1
Length: 439571, dtype: int64

In [26]:
df_original = df_original[(df_original.dropoff_latitude >= 30) & (df_original.dropoff_latitude <= 50)]

In [27]:
df_original.dropoff_latitude.value_counts(progress=True)

[########################################] 100.00% elapsed time  :     0.26s =  0.0m =  0.0h

41.366138    14666
40.761200     2988
40.759200     2832
40.750000     2769
40.758242     2617
             ...
40.878786        1
40.878788        1
40.878798        1
40.878799        1
30.035982        1
Length: 420406, dtype: int64

Eliminamos las longitud menores a -65 y mayores a -125

In [28]:
df_original.dropoff_longitude.value_counts(progress=True)

[########################################] 100.00% elapsed time  :     0.25s =  0.0m =  0.0h

-73.137393     14666
-73.982400      3543
-73.982297      3313
-73.982300      3228
-73.982037      3163
               ...
-73.770856         1
-73.770853         1
-73.770849         1
-73.770847         1
-125.490000        1
Length: 418501, dtype: int64

In [29]:
df_original = df_original[(df_original.dropoff_longitude <= -65) & (df_original.dropoff_longitude >= -125)]

In [30]:
df_original.dropoff_longitude.value_counts(progress=True)

[########################################] 100.00% elapsed time  :     0.22s =  0.0m =  0.0h

-73.137393     14666
-73.982400      3543
-73.982297      3313
-73.982300      3228
-73.982037      3163
               ...
-73.773745         1
-73.773744         1
-73.773742         1
-73.773736         1
-123.408006        1
Length: 416437, dtype: int64

In [28]:
data_final = df_original[(df_original.Año == 2014) & (df_original.Año == 2015)]

AttributeError: ignored

In [31]:
df_original.shape

(53963722, 15)

In [32]:
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour    week    trayecto_nocturno    hora_punta    year    aeropuerto
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0       1      25                    0             0    2009             0
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1       1       1                    0             0    2010             0
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3       2      33                    1             0    2011             0
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5       2      16                    1             0    2012             0
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1       0      10                    0             0    2010             0
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3       0       1                    0             0    2011             0
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1       2      47                    1             1    2012             0
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2       1       1                    0             0    2012             0
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0       1      49                    0             0    2012             0
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2       2      36                    1             0    2009             0

# Division de Data

In [33]:
df_original.export_csv('data_final.csv')

In [9]:
import warnings; warnings.simplefilter('ignore')

In [45]:
columns = ['key', 'pickup_datetime',	'pickup_latitude',	'pickup_longitude',	'dropoff_latitude',	'dropoff_longitude',	'passenger_count',	'fare_amount',	'day',	'hour',	'week',	'trayecto_nocturno',	'hora_punta',	'year',	'aeropuerto']

In [4]:
t = pd.read_hdf('./data_final.hdf5', 'empty')

KeyError: ignored

In [6]:
t

<class 'pandas.io.pytables.HDFStore'>
File path: ./data_final.hdf5

In [5]:
df = vaex.open('data_final.hdf5')
df.shape

NameError: ignored

In [11]:
df_train, df_test = df.ml.train_test_split(test_size=0.3)
df_train.shape

(37830729, 14)

In [12]:
df.dropoff_longitude.value_counts(progress=True)

[########################################] 100.00% elapsed time  :     3.60s =  0.1m =  0.0h

 0.000000      47594
-73.137393     14666
-73.982400      3543
-73.982297      3314
-73.982300      3228
               ...
-73.753727         1
-73.753726         1
-73.753723         1
-73.753718         1
-173.957630        1
Length: 437387, dtype: int64

In [19]:
df[('Año' == 2014)].head()

AttributeError: ignored

## Visualizacion de latitud y longitud en el mapa de NY

In [ ]:
# Instantiate the xgboost model normally, using the scikit-learn API
xgb_model = xgboost.sklearn.XGBClassifier(max_depth=3,
                                          learning_rate=0.01,
                                          n_estimators=10,
                                          subsample=0.75,
                                          colsample_bylevel=1,
                                          colsample_bytree=1,
                                          scale_pos_weight=1.5,
                                          reg_lambda=1.5,
                                          reg_alpha=5,
                                          random_state=42,
                                          verbosity=0)

# Make it work with vaex (for the automagic pipeline and lazy predictions)
vaex_xgb_model = vaex.ml.sklearn.Predictor(features=features,
                                           target='fare_amount',
                                           model=xgb_model,
                                           prediction_name='xgb_model')
# Train the model
vaex_xgb_model.fit(df_train)
# Get the prediction of the model on the training data
df_train = vaex_xgb_model.transform(df_train)

# Preview the resulting train dataframe that contans the predictions
df_train

In [ ]:
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score
print

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    day    hour    week    trayecto_nocturno    hora_punta    aeropuerto     PCA_0         PCA_1
  0  2012-03-28 21:40:00.000000244  2012-03-28 21:40:00 UTC            40.7717            -73.9613             40.7836             -73.9537                  5      2       2      13                    1             0             0  0.160244  -0.029021
  1  2009-04-15 11:57:00.000000131  2009-04-15 11:57:00 UTC            40.7517            -73.9779             40.7593             -73.9714                  5      2       0      16                    0             0             0  0.158647   0.00101797
  2  2011-04-05 09:45:28.0000003    2011-04-05 09:45:28 UTC            40.7714            -73.9656             40.7714             -73.9603                  1      1       0      14                    0             0             0  0.157641  -0.0153852
  3  2011-10-28 09:44:19.0000001    2011-10-28 09:44:19 UTC            40.7569            -73.964              40.7652             -73.9548                  1      4       0      43                    0             0             0  0.149512  -0.0140214
  4  2012-04-09 17:50:19.0000003    2012-04-09 17:50:19 UTC            40.7278            -73.9852             40.7303             -73.9999                  1      0       1      15                    0             0             0  0.162466   0.0414353
  5  2012-09-12 15:53:00.000000108  2012-09-12 15:53:00 UTC            40.7562            -73.9834             40.7377             -73.9924                  2      2       1      37                    0             0             0  0.161308   0.0310107
  6  2013-05-05 15:21:32.0000001    2013-05-05 15:21:32 UTC            40.7802            -73.9587             40.7682             -73.9701                  4      6       1      18                    0             0             0  0.163245  -0.00667165
  7  2014-02-08 14:55:00.00000089   2014-02-08 14:55:00 UTC            40.7732            -73.9855             40.7679             -73.9808                  1      5       1       6                    0             0             0  0.171351   0.000211013
  8  2014-12-06 16:07:52.0000006    2014-12-06 16:07:52 UTC            40.7494            -73.9923             40.7568             -73.9849                  2      5       1      49                    0             0             0  0.167536   0.01144
  9  2013-07-12 15:37:00.00000069   2013-07-12 15:37:00 UTC            40.7672            -73.9687             40.7489             -73.9914                  1      4       1      28                    0             0             0  0.167566   0.0216902