# Práctica Calificada 02
## Predicción de tarifas de taxis

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/MyDrive/AIProjects/PC2/Data/PracticaCalificada2-CC421/
%ls

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive/MyDrive/AIProjects/PC2/Data/PracticaCalificada2-CC421
data2.csv                          train_2014.csv
data2.csv.hdf5                     train_2014_processed.csv
data2.csv.yaml                     train_2015.csv
ht/                                train_2015_processed.csv
PracticaCalificada2-CC421.pdf      train_2.csv
rf_0                               train_2_processed.csv
rf_1                               train_2_processed_wo_gd.csv
rf_2                               train_3.csv
rf_3                               train_3_processed.csv
rf_4                               train_3_processed_wo_gd.csv
train_0.csv                        train_4.csv
train_0_processed.csv              train_4_processed.csv
train_0_processed_wo_gd.csv        train_4_processed_wo_gd.csv
train_1.csv                        train.csv
train_1_processed.csv              train_processed.csv
train_1_processed_wo_gd.csv        train_processed_wo_gd.csv
train_2013.csv                     trainsampleprep.csv
train_2014_and_2015_processed.csv

In [ ]:
import pandas as pd
import numpy as np

### Importar data total

In [ ]:
dtypes = {
      'key': 'object',
      'fare_amount': 'float64',
      'pickup_datetime': 'object',
      'pickup_longitude': 'float64', 
      'pickup_latitude': 'float64',
      'dropoff_longitude': 'float64',
      'dropoff_latitude': 'float64',
      'passenger_count': 'int64',
      
    
}
df = pd.read_csv("train.csv", dtype=dtypes)
df = df[['key', 'pickup_datetime', 'pickup_latitude', 'pickup_longitude', 'dropoff_latitude', 'dropoff_longitude', 'passenger_count', 'fare_amount']]
df.head()

                             key  ... fare_amount
0    2009-06-15 17:26:21.0000001  ...         4.5
1    2010-01-05 16:52:16.0000002  ...        16.9
2   2011-08-18 00:35:00.00000049  ...         5.7
3    2012-04-21 04:30:42.0000001  ...         7.7
4  2010-03-09 07:51:00.000000135  ...         5.3

[5 rows x 8 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55423856 entries, 0 to 55423855
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   key                object
 1   pickup_datetime    object
 2   pickup_latitude    float64
 3   pickup_longitude   float64
 4   dropoff_latitude   float64
 5   dropoff_longitude  float64
 6   passenger_count    int64
 7   fare_amount        float64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.3+ GB

### Primera revisión de la data completa

#### Valores duplicados

In [ ]:
%time
duplicateRowsDF = df.loc[df.duplicated(['key'], keep=False), :]
duplicateRowsDF

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 5.25 µs

                                   key  ... fare_amount
3583097   2014-12-12 11:33:00.00000015  ...        10.0
55423855  2014-12-12 11:33:00.00000015  ...         7.5

[2 rows x 8 columns]

In [ ]:
df['key'][55423855] =  '2014-12-12 11:33:00.00000016'

In [ ]:
# duplicateRowsDF = df.loc[df.duplicated(['key'], keep=False), :]
# duplicateRowsDF.shape[0]

#### Valores NaN

In [ ]:
valores_nan = df.isna().sum()
valores_nan

key                    0
pickup_datetime        0
pickup_latitude        0
pickup_longitude       0
dropoff_latitude     376
dropoff_longitude    376
passenger_count        0
fare_amount            0
dtype: int64

In [ ]:
df = df.dropna()

#### Coordenadas

Se analizará la data con el objetivo de eliminar las filas con coordenadas ubicadas en el océano.

In [ ]:
!pip install global-land-mask

Requirement already satisfied: global-land-mask in /usr/local/lib/python3.7/dist-packages (1.0.0)

In [ ]:
from global_land_mask import globe as gl

In [ ]:
df.shape

(55423480, 8)

In [ ]:
df = df[((df['pickup_latitude'].values > -90) & (df['pickup_latitude'].values < 90))]
df = df[(df['dropoff_latitude'].values > -90) & (df['dropoff_latitude'].values < 90) ]

df = df[(df['pickup_longitude'].values > -180) & (df['pickup_longitude'].values < 180)]
df = df[(df['dropoff_longitude'].values > -180) & (df['dropoff_longitude'].values < 180)]

In [ ]:
pla = df[['pickup_latitude']].to_numpy()
plon = df[['pickup_longitude']].to_numpy()
df = df.drop(df.loc[gl.is_ocean(pla,plon)].index)

dla = df[['dropoff_latitude']].to_numpy()
dlon = df[['dropoff_longitude']].to_numpy()
df = df.drop(df.loc[gl.is_ocean(dla,dlon)].index)

In [ ]:
df.shape

(54031179, 8)

#### Rango de valores

Ahora verificamos que los datos cumplan las restricciones de rango correspondientes.

In [ ]:
df.describe()

       pickup_latitude  pickup_longitude  ...  passenger_count   fare_amount
count     5.403118e+07      5.403118e+07  ...     5.403118e+07  5.403118e+07
mean      4.069348e+01     -7.390924e+01  ...     1.685326e+00  1.131566e+01
std       2.558227e+00      2.680539e+00  ...     1.316547e+00  2.087019e+01
min      -7.783387e+01     -1.234080e+02  ...     0.000000e+00 -3.000000e+02
25%       4.073667e+01     -7.399219e+01  ...     1.000000e+00  6.000000e+00
50%       4.075346e+01     -7.398205e+01  ...     1.000000e+00  8.500000e+00
75%       4.076762e+01     -7.396821e+01  ...     2.000000e+00  1.250000e+01
max       8.154545e+01      1.550187e+02  ...     2.080000e+02  9.396336e+04

[8 rows x 6 columns]

Observamos que el mínimo valor de la columna de tarifa (fare_amount) es -300. Necesitamos que los valores de la tarifa sean valores mayores o iguales a 0.

In [ ]:
df[df['fare_amount'] <= 0].count() /df.count()

key                  0.000062
pickup_datetime      0.000062
pickup_latitude      0.000062
pickup_longitude     0.000062
dropoff_latitude     0.000062
dropoff_longitude    0.000062
passenger_count      0.000062
fare_amount          0.000062
dtype: float64

In [ ]:
df = df[df['fare_amount'] >= 2.5]

Tambien existen valores atípicos muy alejados de la media, estos se pueden limitar mediante la desviación estandar. Eliminaremos los valores atípicos de la tarifa usando Z-score.

In [ ]:
mean = np.mean(df['fare_amount'])
std = np.std(df['fare_amount'])
df = df[(df['fare_amount']-mean)/std<3]

In [ ]:
df.shape

(53957580, 8)

También notamos valores atípicos en la cantidad de pasajeros, por ejemplo un viaje con 208 pasajeros. De acuerdo a las leyes de tránsito de Nueva York como máximo pueden haber 6 personas. Por lo tanto, las filas con cantidades de pasajeros mayores a 6 serán eliminadas.

In [ ]:
( (df[df['passenger_count'] > 6].count() + df[df['passenger_count'] < 1.0].count()) / df.count() )* 100

key                  0.352132
pickup_datetime      0.352132
pickup_latitude      0.352132
pickup_longitude     0.352132
dropoff_latitude     0.352132
dropoff_longitude    0.352132
passenger_count      0.352132
fare_amount          0.352132
dtype: float64

In [ ]:
df = df[df['passenger_count'] <= 6]

In [ ]:
df = df[df['passenger_count'] >= 1.0]

In [ ]:
df.describe()

       pickup_latitude  pickup_longitude  ...  passenger_count   fare_amount
count     5.376758e+07      5.376758e+07  ...     5.376758e+07  5.376758e+07
mean      4.069331e+01     -7.390905e+01  ...     1.691322e+00  1.120855e+01
std       2.562042e+00      2.684260e+00  ...     1.307453e+00  9.106362e+00
min      -7.783387e+01     -1.234080e+02  ...     1.000000e+00  2.500000e+00
25%       4.073667e+01     -7.399219e+01  ...     1.000000e+00  6.000000e+00
50%       4.075346e+01     -7.398206e+01  ...     1.000000e+00  8.500000e+00
75%       4.076762e+01     -7.396823e+01  ...     2.000000e+00  1.250000e+01
max       8.154545e+01      1.550187e+02  ...     6.000000e+00  7.391000e+01

[8 rows x 6 columns]

In [ ]:
df.to_csv('data2.csv', index = False, header=True)

## Con Vaex

In [ ]:
!pip install ipython==7.24.1

Collecting ipython==7.24.1
  Downloading https://files.pythonhosted.org/packages/c0/34/abf879c9c8a282b2d06c880f3791ce91b25de1912bdcfa4a209afebe12f3/ipython-7.24.1-py3-none-any.whl (785kB)
     |████████████████████████████████| 788kB 5.0MB/s
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython==7.24.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython==7.24.1) (5.0.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython==7.24.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.7/dist-packages (from ipython==7.24.1) (0.1.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython==7.24.1) (4.4.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.7/dist-packages (from ipython==7.24.1) (0.18.0)
Collecting prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0
  Downloading https://files.pythonhosted.org/packages/eb/e6/4b4ca4fa94462d4560ba2f4e62e62108ab07be2e16a92e594e43b12d3300/prompt_toolkit-3.0.18-py3-none-any.whl (367kB)
     |████████████████████████████████| 368kB 10.3MB/s
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython==7.24.1) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython==7.24.1) (57.0.0)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython==7.24.1) (4.8.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets>=4.2->ipython==7.24.1) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.16->ipython==7.24.1) (0.8.2)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython==7.24.1) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect>4.3; sys_platform != "win32"->ipython==7.24.1) (0.7.0)
ERROR: jupyter-console 5.2.0 has requirement prompt-toolkit<2.0.0,>=1.0.0, but you'll have prompt-toolkit 3.0.18 which is incompatible.
ERROR: google-colab 1.0.0 has requirement ipython~=5.5.0, but you'll have ipython 7.24.1 which is incompatible.
Installing collected packages: prompt-toolkit, ipython
  Found existing installation: prompt-toolkit 1.0.18
    Uninstalling prompt-toolkit-1.0.18:
      Successfully uninstalled prompt-toolkit-1.0.18
  Found existing installation: ipython 5.5.0
    Uninstalling ipython-5.5.0:
      Successfully uninstalled ipython-5.5.0
Successfully installed ipython-7.24.1 prompt-toolkit-3.0.18

In [ ]:
!pip install vaex

Collecting vaex
  Downloading https://files.pythonhosted.org/packages/f8/0b/a248e6f7d7b88cc0d58087867812c487c6711ca893212b833ca000731fa6/vaex-4.2.0-py3-none-any.whl
Collecting vaex-hdf5<0.8,>=0.7.0
  Downloading https://files.pythonhosted.org/packages/e1/7c/7e4b11ccba78b35c28e28794c7de5847eddbc0c9b039d549beb7f277dc7c/vaex_hdf5-0.7.0-py3-none-any.whl
Collecting vaex-ml<0.13,>=0.12.0
  Downloading https://files.pythonhosted.org/packages/f1/3d/ae1130df00e04dc54d35e817ec2264a429af110db0db0a9ab548831529f8/vaex_ml-0.12.0-py3-none-any.whl (101kB)
     |████████████████████████████████| 102kB 4.7MB/s
Collecting vaex-core<5,>=4.2.0
  Downloading https://files.pythonhosted.org/packages/c1/34/6b7dd32f3d8db030be6584ddbceff055e4ab85714b11ec1973431993ea26/vaex_core-4.2.0-cp37-cp37m-manylinux2010_x86_64.whl (2.4MB)
     |████████████████████████████████| 2.4MB 23.6MB/s
Collecting vaex-astro<0.9,>=0.8.1
  Downloading https://files.pythonhosted.org/packages/f6/b2/4fac7582e87f5e93fb226c2616e03f72c08b1385d034c176e369edf296cb/vaex_astro-0.8.1-py3-none-any.whl
Collecting vaex-server<0.5,>=0.4.1
  Downloading https://files.pythonhosted.org/packages/23/9c/d8ec1a7b323df46cb7e88e80996c67a23e4ec168fbb0affadc82900a726a/vaex_server-0.4.1-py3-none-any.whl
Collecting vaex-viz<0.6,>=0.5.0
  Downloading https://files.pythonhosted.org/packages/9e/b0/a1855b9cade638315ce0f82763d8800f19335487e59acee6cc8a1c350b3c/vaex_viz-0.5.0-py3-none-any.whl
Collecting vaex-jupyter<0.7,>=0.6.0
  Downloading https://files.pythonhosted.org/packages/bd/27/de079e129baf62002d3a28216449cc0f26f8750c5778d2285a06c8390488/vaex_jupyter-0.6.0-py3-none-any.whl (42kB)
     |████████████████████████████████| 51kB 6.1MB/s
Requirement already satisfied: h5py>=2.9 in /usr/local/lib/python3.7/dist-packages (from vaex-hdf5<0.8,>=0.7.0->vaex) (3.1.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from vaex-ml<0.13,>=0.12.0->vaex) (2.11.3)
Requirement already satisfied: traitlets in /usr/local/lib/python3.7/dist-packages (from vaex-ml<0.13,>=0.12.0->vaex) (5.0.5)
Requirement already satisfied: numba in /usr/local/lib/python3.7/dist-packages (from vaex-ml<0.13,>=0.12.0->vaex) (0.51.2)
Collecting aplus
  Downloading https://files.pythonhosted.org/packages/9a/25/58f13028bc43c2d219e32402995275ed577cb02da7e43876a4020727c66a/aplus-0.11.0.tar.gz
Collecting frozendict
  Downloading https://files.pythonhosted.org/packages/6d/29/edb363cf898269cb322d0186baa0bd02874a69691d9dec8728b644fbcedc/frozendict-2.0.2-py3-none-any.whl
Requirement already satisfied: future>=0.15.2 in /usr/local/lib/python3.7/dist-packages (from vaex-core<5,>=4.2.0->vaex) (0.16.0)
Requirement already satisfied: dask in /usr/local/lib/python3.7/dist-packages (from vaex-core<5,>=4.2.0->vaex) (2.12.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from vaex-core<5,>=4.2.0->vaex) (1.1.5)
Requirement already satisfied: nest-asyncio>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from vaex-core<5,>=4.2.0->vaex) (1.5.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaex-core<5,>=4.2.0->vaex) (2.23.0)
Requirement already satisfied: pyarrow>=3.0 in /usr/local/lib/python3.7/dist-packages (from vaex-core<5,>=4.2.0->vaex) (3.0.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from vaex-core<5,>=4.2.0->vaex) (3.13)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.7/dist-packages (from vaex-core<5,>=4.2.0->vaex) (1.19.5)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from vaex-core<5,>=4.2.0->vaex) (1.3.0)
Requirement already satisfied: psutil>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from vaex-core<5,>=4.2.0->vaex) (5.4.8)
Requirement already satisfied: progressbar2 in /usr/local/lib/python3.7/dist-packages (from vaex-core<5,>=4.2.0->vaex) (3.38.0)
Requirement already satisfied: tabulate>=0.8.3 in /usr/local/lib/python3.7/dist-packages (from vaex-core<5,>=4.2.0->vaex) (0.8.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from vaex-core<5,>=4.2.0->vaex) (1.15.0)
Requirement already satisfied: astropy in /usr/local/lib/python3.7/dist-packages (from vaex-astro<0.9,>=0.8.1->vaex) (4.2.1)
Requirement already satisfied: cachetools in /usr/local/lib/python3.7/dist-packages (from vaex-server<0.5,>=0.4.1->vaex) (4.2.2)
Requirement already satisfied: tornado>4.1 in /usr/local/lib/python3.7/dist-packages (from vaex-server<0.5,>=0.4.1->vaex) (5.1.1)
Requirement already satisfied: matplotlib>=1.3.1 in /usr/local/lib/python3.7/dist-packages (from vaex-viz<0.6,>=0.5.0->vaex) (3.2.2)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from vaex-viz<0.6,>=0.5.0->vaex) (7.1.2)
Collecting ipympl
  Downloading https://files.pythonhosted.org/packages/d9/6c/5f4b4764d3009027b4a556aebb35a09d09c09e1996ed701a150172790d98/ipympl-0.7.0-py2.py3-none-any.whl (106kB)
     |████████████████████████████████| 112kB 47.2MB/s
Collecting ipyvuetify<2,>=1.2.2
  Downloading https://files.pythonhosted.org/packages/c2/d8/48b519191c10ceaa9a072b7d66c29a15fc0cfe9d83a3a151e46df5dc35b3/ipyvuetify-1.6.2-py2.py3-none-any.whl (11.7MB)
     |████████████████████████████████| 11.7MB 47.7MB/s
Requirement already satisfied: xarray in /usr/local/lib/python3.7/dist-packages (from vaex-jupyter<0.7,>=0.6.0->vaex) (0.18.2)
Collecting ipyleaflet
  Downloading https://files.pythonhosted.org/packages/1d/8f/c294cca18019dc553bd307e561165a5969ee46a7c067a769ca1590a54592/ipyleaflet-0.13.6-py2.py3-none-any.whl (3.3MB)
     |████████████████████████████████| 3.3MB 51.2MB/s
Collecting ipyvolume>=0.4
  Downloading https://files.pythonhosted.org/packages/c4/be/09982f3bce56da844c5ee4642a8bfae9908e61d7e6999e7e91479cc64b6a/ipyvolume-0.5.2-py2.py3-none-any.whl (2.9MB)
     |████████████████████████████████| 2.9MB 52.1MB/s
Collecting bqplot>=0.10.1
  Downloading https://files.pythonhosted.org/packages/75/aa/9e766977822e03603e58c5bb48684085f1ac5c60ffc6f6a5dbef57881e89/bqplot-0.12.29-py2.py3-none-any.whl (1.2MB)
     |████████████████████████████████| 1.2MB 54.3MB/s
Requirement already satisfied: cached-property; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9->vaex-hdf5<0.8,>=0.7.0->vaex) (1.5.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->vaex-ml<0.13,>=0.12.0->vaex) (2.0.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from traitlets->vaex-ml<0.13,>=0.12.0->vaex) (0.2.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba->vaex-ml<0.13,>=0.12.0->vaex) (0.34.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba->vaex-ml<0.13,>=0.12.0->vaex) (57.0.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->vaex-core<5,>=4.2.0->vaex) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->vaex-core<5,>=4.2.0->vaex) (2018.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaex-core<5,>=4.2.0->vaex) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaex-core<5,>=4.2.0->vaex) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaex-core<5,>=4.2.0->vaex) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaex-core<5,>=4.2.0->vaex) (2.10)
Requirement already satisfied: python-utils>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from progressbar2->vaex-core<5,>=4.2.0->vaex) (2.5.6)
Requirement already satisfied: pyerfa in /usr/local/lib/python3.7/dist-packages (from astropy->vaex-astro<0.9,>=0.8.1->vaex) (2.0.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.3.1->vaex-viz<0.6,>=0.5.0->vaex) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.3.1->vaex-viz<0.6,>=0.5.0->vaex) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.3.1->vaex-viz<0.6,>=0.5.0->vaex) (1.3.1)
Requirement already satisfied: ipykernel>=4.7 in /usr/local/lib/python3.7/dist-packages (from ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (4.10.1)
Requirement already satisfied: ipywidgets>=7.6.0 in /usr/local/lib/python3.7/dist-packages (from ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (7.6.3)
Collecting ipyvue<2,>=1.5
  Downloading https://files.pythonhosted.org/packages/a5/8e/327c434451021521b9c25a41042edd2b0653946a9502febb79b318deb302/ipyvue-1.5.0-py2.py3-none-any.whl (2.7MB)
     |████████████████████████████████| 2.7MB 50.1MB/s
Requirement already satisfied: shapely in /usr/local/lib/python3.7/dist-packages (from ipyleaflet->vaex-jupyter<0.7,>=0.6.0->vaex) (1.7.1)
Collecting traittypes<3,>=0.2.1
  Downloading https://files.pythonhosted.org/packages/9c/d1/8d5bd662703cc1764d986f6908a608777305946fa634d34c470cd4a1e729/traittypes-0.2.1-py2.py3-none-any.whl
Requirement already satisfied: branca<0.5,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from ipyleaflet->vaex-jupyter<0.7,>=0.6.0->vaex) (0.4.2)
Collecting pythreejs>=1.0.0
  Downloading https://files.pythonhosted.org/packages/2e/36/806ac843a15c67b013dc85a4761d3cc8bfa08dab70fb3f63dbc6611a5809/pythreejs-2.3.0-py2.py3-none-any.whl (3.4MB)
     |████████████████████████████████| 3.4MB 47.7MB/s
Collecting ipywebrtc
  Downloading https://files.pythonhosted.org/packages/e9/11/4b83894a009ef522b5751881e21ffec55d56b0900c0b788e2906ec01c51d/ipywebrtc-0.6.0-py2.py3-none-any.whl (260kB)
     |████████████████████████████████| 266kB 57.3MB/s
Requirement already satisfied: ipython>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.7->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (7.24.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.7->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (5.3.5)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (5.1.3)
Requirement already satisfied: jupyterlab-widgets>=1.0.0; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (1.0.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (3.5.1)
Collecting ipydatawidgets>=1.1.1
  Downloading https://files.pythonhosted.org/packages/5d/58/9ec5a0e1653ffc762674370c4ebbcb5132b9c0691942a8c9a805a8b80b5e/ipydatawidgets-4.2.0-py2.py3-none-any.whl (275kB)
     |████████████████████████████████| 276kB 40.9MB/s
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel>=4.7->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (3.0.18)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel>=4.7->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel>=4.7->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (0.2.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel>=4.7->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (2.6.1)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel>=4.7->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (0.1.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel>=4.7->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (4.4.2)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel>=4.7->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.7/dist-packages (from ipython>=4.0.0->ipykernel>=4.7->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (0.18.0)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.7->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (4.7.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.7->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (22.0.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (2.6.0)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (5.3.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0->ipykernel>=4.7->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect>4.3; sys_platform != "win32"->ipython>=4.0.0->ipykernel>=4.7->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (0.7.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.16->ipython>=4.0.0->ipykernel>=4.7->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (0.8.2)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (5.6.1)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (0.10.0)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (1.5.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (0.5.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (0.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (3.3.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (1.4.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (0.7.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (0.5.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.0->ipympl->vaex-jupyter<0.7,>=0.6.0->vaex) (20.9)
Building wheels for collected packages: aplus
  Building wheel for aplus (setup.py) ... done
  Created wheel for aplus: filename=aplus-0.11.0-cp37-none-any.whl size=4410 sha256=7d4b68df8863df2f3fd802d4ac47409bef150d10d3f0faadf36aafc8bf345c70
  Stored in directory: /root/.cache/pip/wheels/77/95/8a/ccc1d85d9cabd162a537be5ad77f95d109170df37b49c0ca21
Successfully built aplus
Installing collected packages: aplus, frozendict, vaex-core, vaex-hdf5, vaex-ml, vaex-astro, vaex-server, vaex-viz, ipympl, ipyvue, ipyvuetify, traittypes, ipyleaflet, ipydatawidgets, pythreejs, ipywebrtc, ipyvolume, bqplot, vaex-jupyter, vaex
Successfully installed aplus-0.11.0 bqplot-0.12.29 frozendict-2.0.2 ipydatawidgets-4.2.0 ipyleaflet-0.13.6 ipympl-0.7.0 ipyvolume-0.5.2 ipyvue-1.5.0 ipyvuetify-1.6.2 ipywebrtc-0.6.0 pythreejs-2.3.0 traittypes-0.2.1 vaex-4.2.0 vaex-astro-0.8.1 vaex-core-4.2.0 vaex-hdf5-0.7.0 vaex-jupyter-0.6.0 vaex-ml-0.12.0 vaex-server-0.4.1 vaex-viz-0.5.0

In [ ]:
import vaex
import vaex.ml.sklearn
import pylab as plt

In [ ]:
df_original = vaex.from_csv('data2.csv', convert=True, chunk_size=5000000)

In [ ]:
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9

In [ ]:
df_original.info()

### Separacion de pickup_datetime en hora, day, semanas

Convertimos la variable categórica 'dia' a una variable indicadora

In [ ]:
df_original['day']=df_original['pickup_datetime'].apply(lambda x: pd.Timestamp(x).dayofweek)
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2

Obtenemos la hora de la misma manera de 'pickup_datetime'

In [ ]:
df_original['hour']=df_original['pickup_datetime'].apply(lambda x: pd.Timestamp(x).hour)
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0      17
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1      16
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3       0
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5       4
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1       7
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3       9
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1      20
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2      17
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0      13
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2       1

Pasamos la columna hora (números) a indicadora (mañana = 0, tarde =1y noche =2)

In [ ]:
df_original['hour']=df_original['hour'].apply(lambda x: 0 if x > 5 and x < 12 else 1 if x >=12 and x < 18 else 2)
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0       1
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1       1
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3       2
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5       2
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1       0
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3       0
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1       2
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2       1
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0       1
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2       2

Añadimos el numero de la semana

In [ ]:
df_original['week']=df_original['pickup_datetime'].apply(lambda x: pd.Timestamp(x).week)
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour    week
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0       1      25
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1       1       1
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3       2      33
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5       2      16
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1       0      10
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3       0       1
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1       2      47
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2       1       1
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0       1      49
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2       2      36

Trayecto Nocturno

In [ ]:
df_original['trayecto_nocturno']=df_original['pickup_datetime'].apply(lambda x: pd.Timestamp(x).hour)

In [ ]:
df_original['trayecto_nocturno']=df_original['trayecto_nocturno'].apply(lambda x: 0 if x > 6 and x < 20 else 1)
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour    week    trayecto_nocturno
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0       1      25                    0
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1       1       1                    0
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3       2      33                    1
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5       2      16                    1
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1       0      10                    0
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3       0       1                    0
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1       2      47                    1
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2       1       1                    0
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0       1      49                    0
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2       2      36                    1

Hora punta

In [ ]:
df_original['hora_punta']=df_original['pickup_datetime'].apply(lambda x: pd.Timestamp(x).hour)
df_original['hora_punta']=df_original['hora_punta'].apply(lambda x: 1 if x >=19 and x <= 20 else 0)
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour    week    trayecto_nocturno    hora_punta
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0       1      25                    0             0
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1       1       1                    0             0
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3       2      33                    1             0
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5       2      16                    1             0
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1       0      10                    0             0
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3       0       1                    0             0
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1       2      47                    1             1
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2       1       1                    0             0
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0       1      49                    0             0
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2       2      36                    1             0

Año

In [ ]:
df_original['year']=df_original['pickup_datetime'].apply(lambda x: pd.Timestamp(x).year)
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour    week    trayecto_nocturno    hora_punta    year
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0       1      25                    0             0    2009
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1       1       1                    0             0    2010
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3       2      33                    1             0    2011
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5       2      16                    1             0    2012
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1       0      10                    0             0    2010
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3       0       1                    0             0    2011
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1       2      47                    1             1    2012
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2       1       1                    0             0    2012
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0       1      49                    0             0    2012
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2       2      36                    1             0    2009

### Verificar si el punto de llegada o punto de partida se encuentra cerca al aeropuerto

In [ ]:
def area_aeropuerto(drop_latitud, drop_longitud, pickup_latitud, pickup_longitud):
  value = 0

  latJFK , longJFK = (40.64607900467552, -73.78682189872009)
  rLatJFK , rLongJFK = (0.00020442868149724404, 7.06525997713248e-05)

  latLaGuardia , longLaGuardia = (40.77721540400873, -73.87389625196624 )
  rLaLaGuardia , rLongLaGuardia = (7.901000033306362e-05, 5.571223534203251e-08)

  latNewark, longNewark = (40.69124374918179, -74.1782152271882)
  rLatNewark, rLongNewark = (4.851167653135607e-05, 0.00017069473805533363)

  dLatKFK , dLongJFK = ((40.64607900467552 - drop_latitud )**2, (-73.78682189872009 - drop_longitud)**2)
  dLatLaGuardia, dLongLaGuardia = ((40.77721540400873 - drop_latitud )**2, (-73.87389625196624 - drop_longitud)**2)
  dLatNewark, dLongNewark = ((40.69124374918179 - drop_latitud )**2, (-74.1782152271882 - drop_longitud)**2)

  pLatKFK , pLongJFK = ((40.64607900467552 - pickup_latitud )**2, (-73.78682189872009 - pickup_longitud)**2)
  pLatLaGuardia, pLongLaGuardia = ((40.77721540400873 - pickup_latitud )**2, (-73.87389625196624 - pickup_longitud)**2)
  pLatNewark, pLongNewark = ((40.69124374918179 - pickup_latitud )**2, (-74.1782152271882 - pickup_longitud)**2)

  if (dLatKFK <= rLatJFK  and dLongJFK <= rLongJFK) or (pLatKFK <= rLatJFK and pLongJFK <= rLongJFK):
    value = 1
  if (dLatLaGuardia <= rLaLaGuardia  and dLongLaGuardia <= rLongLaGuardia) or (pLatLaGuardia <= rLaLaGuardia  and pLongLaGuardia <= rLongLaGuardia):
    value = 1
  if (dLatNewark <= rLatNewark  and dLongNewark <= rLongNewark) or (pLatNewark <= rLatNewark  and pLongNewark <= rLongNewark):
    value = 1
  return value

In [ ]:
df_original['aeropuerto'] = df_original.apply(area_aeropuerto, [df_original.dropoff_latitude, df_original.dropoff_longitude, df_original.pickup_latitude, df_original.pickup_longitude])

In [ ]:
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour    week    trayecto_nocturno    hora_punta    year    aeropuerto
  0  2009-06-15 17:26:21.0000001    2009-06-15 17:26:21 UTC            40.7213            -73.8443             40.7123             -73.8416                  1            4.5      0       1      25                    0             0    2009             0
  1  2010-01-05 16:52:16.0000002    2010-01-05 16:52:16 UTC            40.7113            -74.016              40.782              -73.9793                  1           16.9      1       1       1                    0             0    2010             0
  2  2011-08-18 00:35:00.00000049   2011-08-18 00:35:00 UTC            40.7613            -73.9827             40.7506             -73.9912                  2            5.7      3       2      33                    1             0    2011             0
  3  2012-04-21 04:30:42.0000001    2012-04-21 04:30:42 UTC            40.7331            -73.9871             40.7581             -73.9916                  1            7.7      5       2      16                    1             0    2012             0
  4  2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC            40.768             -73.9681             40.7838             -73.9567                  1            5.3      1       0      10                    0             0    2010             0
  5  2011-01-06 09:50:45.0000002    2011-01-06 09:50:45 UTC            40.7316            -74.001              40.7582             -73.9729                  1           12.1      3       0       1                    0             0    2011             0
  6  2012-11-20 20:35:00.0000001    2012-11-20 20:35:00 UTC            40.7517            -73.98               40.7648             -73.9738                  1            7.5      1       2      47                    1             1    2012             0
  7  2012-01-04 17:22:00.00000081   2012-01-04 17:22:00 UTC            40.7741            -73.9513             40.751              -73.9901                  1           16.5      2       1       1                    0             0    2012             0
  8  2012-12-03 13:10:00.000000125  2012-12-03 13:10:00 UTC            40.7267            -74.0065             40.7316             -73.9931                  1            9        0       1      49                    0             0    2012             0
  9  2009-09-02 01:11:00.00000083   2009-09-02 01:11:00 UTC            40.7339            -73.9807             40.7581             -73.9915                  2            8.9      2       2      36                    1             0    2009             0

In [ ]:
df_original.aeropuerto.value_counts(progress=True)

[########################################] 100.00% elapsed time  :    15.46s =  0.3m =  0.0h

0    52794910
1      972668
dtype: int64

Observamos valores atipicos de longitud y latitud

In [ ]:
df_original.pickup_latitude.value_counts(progress=True)

[########################################] 100.00% elapsed time  :     0.21s =  0.0m =  0.0h

 41.366138    18561
 40.774100     4047
 40.774057     3903
 40.774082     3483
 40.774092     3454
              ...
 40.947167        1
 40.947177        1
 40.842987        1
 40.947187        1
-77.833874        1
Length: 331695, dtype: int64

In [ ]:
df_original.pickup_longitude.value_counts(progress=True)

[########################################] 100.00% elapsed time  :     0.20s =  0.0m =  0.0h

-73.137393     18561
-73.982297      4251
-73.982037      4176
-73.982400      4103
-73.982300      4000
               ...
-73.825822         1
-73.825821         1
-73.825810         1
-73.825809         1
-123.408006        1
Length: 325416, dtype: int64

Eliminamos las latitudes menores a 30 y mayores a 50

In [ ]:
df_original.dropoff_latitude.value_counts(progress=True)

[########################################] 100.00% elapsed time  :     0.21s =  0.0m =  0.0h

 41.366138    14648
 40.761200     2986
 40.759200     2829
 40.750000     2768
 40.758242     2617
              ...
 40.838932        1
 40.838941        1
 40.838947        1
 40.838963        1
-74.178840        1
Length: 426236, dtype: int64

In [ ]:
df_original = df_original[(df_original.dropoff_latitude >= 30) & (df_original.dropoff_latitude <= 50)]

In [ ]:
df_original.dropoff_latitude.value_counts(progress=True)

[########################################] 100.00% elapsed time  :     0.24s =  0.0m =  0.0h

41.366138    14648
40.761200     2986
40.759200     2829
40.750000     2768
40.758242     2617
             ...
40.869834        1
40.869839        1
40.869843        1
40.869846        1
30.035982        1
Length: 407430, dtype: int64

Eliminamos las longitud menores a -65 y mayores a -125

In [ ]:
df_original.dropoff_longitude.value_counts(progress=True)

[########################################] 100.00% elapsed time  :     0.22s =  0.0m =  0.0h

-73.137393     14648
-73.982400      3543
-73.982297      3313
-73.982300      3227
-73.982037      3163
               ...
-73.775244         1
-73.775239         1
-73.775238         1
-73.775237         1
-123.408006        1
Length: 395758, dtype: int64

In [ ]:
df_original = df_original[(df_original.dropoff_longitude <= -65) & (df_original.dropoff_longitude >= -125)]

In [ ]:
df_original.dropoff_longitude.value_counts(progress=True)

[########################################] 100.00% elapsed time  :     0.27s =  0.0m =  0.0h

-73.137393     14648
-73.982400      3543
-73.982297      3313
-73.982300      3227
-73.982037      3163
               ...
-73.780754         1
-73.780749         1
-73.780746         1
-73.780743         1
-123.408006        1
Length: 393854, dtype: int64

In [ ]:
df_original = df_original[df_original['year'] >= 2014]

In [ ]:
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day    hour    week    trayecto_nocturno    hora_punta    year    aeropuerto
  0  2014-02-19 07:22:00.00000074   2014-02-19 07:22:00 UTC            40.7605            -73.9864             40.7371             -73.989                   1          12.5       2       0       8                    0             0    2014             0
  1  2014-12-06 20:36:22.0000008    2014-12-06 20:36:22 UTC            40.7519            -73.9798             40.7555             -73.9794                  1           4         5       2      49                    1             1    2014             0
  2  2014-02-19 16:03:00.000000160  2014-02-19 16:03:00 UTC            40.7524            -73.9761             40.7593             -73.9811                  1           5.5       2       1       8                    0             0    2014             0
  3  2015-06-21 21:46:34.0000001    2015-06-21 21:46:34 UTC            40.7177            -74.0105             40.6604             -73.9858                  1          22.54      6       2      25                    1             0    2015             0
  4  2015-01-11 03:15:38.0000001    2015-01-11 03:15:38 UTC            40.7387            -73.9833             40.8472             -73.9332                  1          58         6       2       2                    1             0    2015             0
  5  2015-03-12 08:08:38.0000001    2015-03-12 08:08:38 UTC            40.7564            -73.9902             40.7628             -73.9856                  1           4.5       3       0      11                    0             0    2015             0
  6  2014-07-16 10:57:00.00000069   2014-07-16 10:57:00 UTC            40.7419            -73.9961             40.7394             -73.9922                  6           5         2       0      29                    0             0    2014             0
  7  2014-05-01 09:12:00.000000198  2014-05-01 09:12:00 UTC            40.7675            -73.9662             40.7742             -73.9809                  6           7         3       0      18                    0             0    2014             0
  8  2014-01-17 09:03:00.000000187  2014-01-17 09:03:00 UTC            40.7506            -73.9915             40.7415             -73.9857                  4           8.5       4       0       3                    0             0    2014             0
  9  2014-04-29 18:28:00.0000005    2014-04-29 18:28:00 UTC            40.7508            -73.9703             40.7249             -73.9984                  6          16.5       1       2      18                    0             0    2014             0

In [ ]:
df_original['day_of_month']=df_original['pickup_datetime'].apply(lambda x: pd.Timestamp(x).day)
df_original['hour']=df_original['pickup_datetime'].apply(lambda x: pd.Timestamp(x).minute/60 + pd.Timestamp(x).hour)
df_original.head()

  #  key                            pickup_datetime            pickup_latitude    pickup_longitude    dropoff_latitude    dropoff_longitude    passenger_count    fare_amount    day      hour    week    trayecto_nocturno    hora_punta    year    aeropuerto    day_of_month
  0  2014-02-19 07:22:00.00000074   2014-02-19 07:22:00 UTC            40.7605            -73.9864             40.7371             -73.989                   1          12.5       2   7.36667       8                    0             0    2014             0              19
  1  2014-12-06 20:36:22.0000008    2014-12-06 20:36:22 UTC            40.7519            -73.9798             40.7555             -73.9794                  1           4         5  20.6          49                    1             1    2014             0               6
  2  2014-02-19 16:03:00.000000160  2014-02-19 16:03:00 UTC            40.7524            -73.9761             40.7593             -73.9811                  1           5.5       2  16.05          8                    0             0    2014             0              19
  3  2015-06-21 21:46:34.0000001    2015-06-21 21:46:34 UTC            40.7177            -74.0105             40.6604             -73.9858                  1          22.54      6  21.7667       25                    1             0    2015             0              21
  4  2015-01-11 03:15:38.0000001    2015-01-11 03:15:38 UTC            40.7387            -73.9833             40.8472             -73.9332                  1          58         6   3.25          2                    1             0    2015             0              11
  5  2015-03-12 08:08:38.0000001    2015-03-12 08:08:38 UTC            40.7564            -73.9902             40.7628             -73.9856                  1           4.5       3   8.13333      11                    0             0    2015             0              12
  6  2014-07-16 10:57:00.00000069   2014-07-16 10:57:00 UTC            40.7419            -73.9961             40.7394             -73.9922                  6           5         2  10.95         29                    0             0    2014             0              16
  7  2014-05-01 09:12:00.000000198  2014-05-01 09:12:00 UTC            40.7675            -73.9662             40.7742             -73.9809                  6           7         3   9.2          18                    0             0    2014             0               1
  8  2014-01-17 09:03:00.000000187  2014-01-17 09:03:00 UTC            40.7506            -73.9915             40.7415             -73.9857                  4           8.5       4   9.05          3                    0             0    2014             0              17
  9  2014-04-29 18:28:00.0000005    2014-04-29 18:28:00 UTC            40.7508            -73.9703             40.7249             -73.9984                  6          16.5       1  18.4667       18                    0             0    2014             0              29

In [ ]:
df_original.export_csv("data.csv")

## Visualizacion de latitud y longitud en el mapa de NY

In [ ]:
jdjdjdjdjddjsassasadsadasdcaaaaj